@media  (min-width: 300px) and (max-width: 768px){

p{
	font-family:'Nunito', sans-serif;
	font-size: 16px;
    line-height: 1.5em;


}

#protex p{
	display:  block;
	width: 60%;
	text-align: center;
	justify-content: center;

}

a{
	font-family:'Libre Baskerville', serif;
	text-decoration: none;
	font-size: 16px;

}


.corr{
	padding-left: 3%;
	padding-right: 3%;
}

#menu-basico {
    text-align: center;
}

#menu-res{
	display: none;
}

#menu-res a{
	font-size: 16px;
}

#menu-proyectos {
	display: none;
}

#menu-proyectos a{
	margin-left: 25px;
}

#currinfo{
	margin-top: 20px;
}

#protext{
	margin-top: 20px;
}

h1{
	font-family:'Libre Baskerville', serif;
	font-size: 45px;
	margin-bottom: 0px;
	margin-top: 0px;	
}

h2{
	font-family:'Libre Baskerville', serif;
    font-size: 28px;
	margin-bottom: 20px;
	margin-top: 0px;
	text-align: center;
}
#sobre-mi{
	display: flex;
	flex-direction: column-reverse;
    padding-bottom: 40px;
	border-style: solid;
	border-right: 0px;
	border-left: 0px;
	border-top: 0px;
}

#contactanos {
	display: none;
}

#contactanos-dos {
	background-color: #efefef;
	display: block;
	text-align: center;
}


#curriculum{
	   display: flex;
	   flex-direction: column-reverse;
}

#despro{
	   display: flex;
	   flex-direction: column-reverse;
}

#bienvenidita{
	width: 100%
}

#banner{
	height: 400px;
    background: url("../image/tres.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: 297px;
     align-self: center;
}

#miphoto{
   width: 100%;
   	height: 600px;
       background: url("../image/cata.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   align-self: center;

}

#bannercurriculum{
		width: 100%;
}

#bannerpro{
		width: 100%;
}

#bienvenida {
 display: none;
    }

#bienvenida-res{
		margin-top: 40px;
	width: 100%;
	padding-bottom: 50px;
    margin-right: 20px;
}

#nombre {
	margin-top: 70px;
	text-align: center;
}

#menu-basico{
	justify-content: center;
}

#concurri{
	width: 100%;
}

#proinf{
	width: 100%;
}

#miphoto{
   width: 100%;
   	height: 400px;
   	align-self: center;
       background: url("../image/cata.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

}

#menu{
	display: flex;
}

#menu-res {
	flex-direction: column;
	background-color: #efefef;
}

.texto-banner{
	height: 100px;
}

#protex{
	padding-left: 29%;
	text-align: center;
}


#fedi1{
	height: 400px;
    background: url("../image/fedi1.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: 297px;
     align-self: center;
}

#fedi2{
	height: 400px;
    background: url("../image/cona.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: auto;
     align-self: center;
}

#fedi3{
	height: 400px;
    background: url("../image/coni.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: auto;
     align-self: center;
}

#fedi4{
	height: 390px;
    background: url("../image/.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: auto;
     align-self: center;
}

#fedi5{
	height: 390px;
    background: url("../image/edi5.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: auto;
     align-self: center;
}

#fedi6{
	height: 400px;
    background: url("../image/sonda.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: auto;
     align-self: center;
}

#fedi7{
	height: 400px;
    background: url("../image/sonda.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: auto;
     align-self: center;
}

#fedi8{
	height: 500px;
    background: url("../image/ankulenmo.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: auto;
     align-self: center;
}

#finte1{
	height: 400px;
    background: url("../image/inte1.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: auto;
     align-self: center;
}


#finte2{
	height: 400px;
    background: url("../image/jug1.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: auto;
     align-self: center;
}

#finte3{
	height: 400px;
    background: url("../image/cap12.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: auto;
     align-self: center;
}

#finte4{
	height: 350px;
    background: url("../image/cap49.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: auto;
     align-self: center;
}

#finve1{
	height: 400px;
    background: url("../image/inve1.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: auto;
     align-self: center;
}

#finve2{
	height: 350px;
    background: url("../image/inve2.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: auto;
     align-self: center;
}

#finve4{
	height: 400px;
    background: url("../image/la.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: auto;
     align-self: center;
}

#finve5{
	height: 350px;
    background: url("../image/le.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: auto;
     align-self: center;
}

#finve6{
	height: 400px;
    background: url("../image/ps.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: auto;
     align-self: center;
}

#finve7{
	height: 350px;
    background: url("../image/ps2.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: auto;
     align-self: center;
}



.ilu-rou{
	display: flex;
	flex-direction: column-reverse;
}

.ilu-text{
	width: 100%;
	text-align: center;
	padding-right: 50px;
		padding-bottom: 50px;
	padding-top: 10px;
	font-family:'Libre Baskerville', serif;
    font-weight: 400i;

}



.ilu-ban{
	width: 100%;
	padding-bottom: 0px;

}

#il6{
	height: 700px;
    background: url("../image/lala.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

#il7{
	height: 700px;
    background: url("../image/1.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

#il8{
	height: 700px;
    background: url("../image/2.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

#il9{
	height: 700px;
    background: url("../image/3.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

#il10{
	height: 400px;
    background: url("../image/bhffg.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

#il11{
	height: 700px;
    background: url("../image/4.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

#il12{
	height: 600px;
    background: url("../image/9.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

#il13{
	height: 600px;
    background: url("../image/circul.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}


}




/*Desde acá es movil*/ 
@media  (min-width: 300px) and (max-width: 425px){

section{
	margin-top: 160px;
}
h1{
	font-family:'Libre Baskerville', serif;
	font-size: 30px;
	margin-bottom: 0px;
	margin-top: 0px;	
}

h2{
	font-family:'Libre Baskerville', serif;
    font-size: 20px;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: center;
}
	#nombre {
	margin-top: 5px;
	text-align: center;
}

#bienvenida{

}
 #tambienuno{
 	display:none;
 }

#banner{
	height: 250px;
    background: url("../image/tres.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: 180px;
     align-self: center;
}

#currititulo {
	margin-top: 90px;
    margin-bottom: 30px;
}

#proe {
	margin-top: 90px;
    margin-bottom: 30px;
}

#proe {
	margin-top: 90px;
    margin-bottom: 30px;
}

#miphoto{
   width: 100%;
   	height: 200px;
   	align-self: center;
       background: url("../image/cata.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

}

#menu-proyectos {
	display: none;
}

#menu{
	display: flex;
}

.texto-banner{
	height: 100px;
}

#menu-basico {
    text-align: center;
}

.corr{
	padding-left: 3%;
	padding-right: 3%;
}
#contactanos-foot{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#corruno{
	display: flex;
	flex-direction: column;
	justify-content: center;	
}

#corrdos{
	display: flex;
	flex-direction: column;
	justify-content: center;	
}

#fedi1{
	height: 250px;
    background: url("../image/fedi1.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: 180px;
     justify-content: center;
}




#fedi1.profot{
     justify-content: center;
}

#finte4{
	height: 150px;
    background: url("../image/cap49.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: auto;
     align-self: center;
}

.ilu-rou{
	display: flex;
	flex-direction: column-reverse;
}

.ilu-text{
	width: 100%;
	text-align: center;
	padding-right: 50px;
		padding-bottom: 50px;
	padding-top: 10px;
	font-family:'Libre Baskerville', serif;
    font-weight: 400i;

}



.ilu-ban{
	width: 100%;
	padding-bottom: 0px;

}

#fil1{
	
    background: url("../image/ilu1.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   
}

#fil2{

    background: url("../image/ilu2.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   
}

#fil3{
	
    background: url("../image/ilu3.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

}

#fil4{
	
    background: url("../image/ima3.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
  
}

#fil5{

    background: url("../image/ilusin.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 
}

#fil6{
	
    background: url("../image/lala.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 
}

#fil7{

    background: url("../image/1.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 
}

#fil8{

    background: url("../image/2.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

}

#fil9{

    background: url("../image/3.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

}

#fil10{

    background: url("../image/bhffg.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
  
}



#il1{
	height: 400px;
    background: url("../image/ilu1.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: 100%;
}

#il2{
	height: 250px;
    background: url("../image/ilu2.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: 100%;
}

#il3{
	height: 200px;
    background: url("../image/ilu3.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: 100%;
}

#il4{
	height: 250px;
    background: url("../image/ima3.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: 100%;
}

#il5{
	height: 250px;
    background: url("../image/ilusin.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: 100%;
}

#il6{
	height: 300px;
    background: url("../image/lala.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: 100%;
}

#il7{
	height: 300px;
    background: url("../image/1.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: 100%;
}

#il8{
	height: 300px;
    background: url("../image/2.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: 100%;
}

#il9{
	height: 200px;
    background: url("../image/3.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: 100%;
}

#il10{
	height: 200px;
    background: url("../image/bhffg.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: 100%;
}

#il11{
	height: 400px;
    background: url("../image/4.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: 100%;
}

#il12{
	height: 300px;
    background: url("../image/9.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: 100%;
}

#il13{
	height: 250px;
    background: url("../image/circul.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: 100%;
}

#protex{
	padding-left: 25%;
	text-align: center;
}
}