@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Nunito:400,400i,700,700i');

body{
	background-color: #FF0000;
	margin-right: 8%;
	margin-left: 8%;	
}

h1{
	color: #070114;
	font-family:'Libre Baskerville', serif;
	font-size: 38pt;
	margin-bottom: 0px;
	margin-top: 0px;	
}

h2{
	color: #070114;
	font-family:'Libre Baskerville', serif;
    font-size: 25pt;
	margin-bottom: 0px;
	margin-top: 0px;
}

p{
	color: #070114;
	font-family:'Nunito', sans-serif;
	font-size: 14pt;
}

#bienvenida {
	margin-top: 80px;
	width: 100%;
	padding-bottom: 50px;
}

#bienvenidita{
	width: 50%
}
a{
	color: #070114;
	font-family:'Libre Baskerville', serif;
	text-decoration: none;
	font-size: 16px;

}

li {
	text-decoration: none;
	list-style: none;
}

header{
	background-color: #419917;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#menu-proyectos{
	background-color: #00E5E5;

}

#menu-proyectos a{
	margin-left: 50px;
}

#nombre{
	background-color: #EF00EF;
	margin-top: 70px;
}

#sobre-mi{
	background-color: #2A19A5;
	display: flex;
	flex-direction: row;
	padding: 40px;
	border-style: solid;
	border-right: 0px;
	border-left: 0px;
	border-top: 0px;
}

#menu-basico{
	background-color: #98A519;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

#tambienuno{
	display: flex;
	flex-direction: row;
	margin-right: 20px;
}

#tambienuno img{
	height: 34px;
	margin-left: 20px;
}
#menu-atajo li{
	margin-bottom: 10px;
}

#p-total{
	background-color: #3FA519;
	height: 560px;
    width: 100%;
    border-style: solid;
	border-right: 0px;
	border-left: 0px;
	border-top: 0px;
}

#proyectos-recientes{
   margin-top: 90px;
}


#curriculum{
	background-color: #A54419;
	   margin-top: 90px;
	   display: flex;
	   flex-direction: row;
}

#logo{
	height: 50px;

}

#banner{
	height: 700px;
    background: url("../image/tres.png") repeat-x left top;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: 50%;
}

.iconos{
	height: 2px;
	margin-left: 10px;
}

#miphoto{
   width: 100%;
   	height: 600px;
       background: url("../image/cata.png") repeat-x left top;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

}

#bannercurriculum{
		width: 50%;
}

#bannercurriculum img{
	height: 34px;


}

#concurri{
	width: 50%;
}

#currinfo {
	margin-top: 50px;
	line-height: 2.1em;
	margin-right: 20px;
}