@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Nunito:400,400i,700,700i');

body{
	background-color: #EFEFEF;
	
}
section{
		margin-top: 200px; 
	margin-right: 8%;
	margin-left: 8%;

}
h1{
	color: #070114;
	font-family:'Libre Baskerville', serif;
	font-size: 50px;
	margin-bottom: 0px;
	margin-top: 0px;
	    font-weight: 400;	
}

h2{
	color: #070114;
	font-family:'Libre Baskerville', serif;
    font-size: 33px;
	margin-bottom: 0px;
	margin-top: 0px;
	    font-weight: 400;
}

h3{
	font-family:'Libre Baskerville', serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 15px;
}
h4{
	font-family:'Libre Baskerville', serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 15px;
}
p{
	color: #070114;
	font-family:'Nunito', sans-serif;
	font-size: 18px;
     line-height: 1.5em;
         margin-top: 0px;
}

#bienvenida {
	margin-top: 80px;
	width: 100%;
	padding-bottom: 50px;
    margin-right: 20px;
}

#bienvenidita{
	width: 50%
}
a{
	color: #070114;
	font-family:'Libre Baskerville', serif;
	text-decoration: none;
	font-size: 16px;
	transition: all 0.3s ease;

}

a:hover{
	color: #00c481;
}
li {
	text-decoration: none;
	list-style: none;
}

header{
	width: 100%;
	background-color: #EFEFEF;
	position: fixed;
	top: 0;
	padding-right: 100px;
	padding: 10px 0;
	z-index: 80;
}

#menu-proyectos{
	float: right;
	margin-right: 8%;
}

#menu-proyectos a{
	display: inline-block;
	padding: 1em 2em 0 2em;
}

#menu {
	display: none;
	flex-direction: column;
    position:absolute;
    top: 10px;
    right: 5%; 
    justify-content:flex-end;
}

#menu img{
	height: 42px;
	width: 42px;
	align-self: flex-end;
}

#menu-res{
	display: flex;
	flex-direction: column;
	text-align: right;
	padding: 20px

}

#menu-res a{
	    padding-bottom: 10px;
        padding-top: 10px;
}
#nombre{
	margin-top: 70px;
}

#sobre-mi{
	display: flex;
	flex-direction: row;
    padding-bottom: 40px;
	border-style: solid;
	border-right: 0px;
	border-left: 0px;
	border-top: 0px;
}

#menu-basico{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

ul{
	padding: 0px;
	margin: 0px;
}

#tambienuno{
	display: flex;
	flex-direction: row;
	margin-right: 20px;
}

#tambienuno img{
	height: 34px;
	margin-left: 20px;
}
#menu-atajo li{
	margin-bottom: 10px;
}

#p-total{
	height: 400px;
    width: 100%;
    border-style: solid;
	border-right: 0px;
	border-left: 0px;
	border-top: 0px;
	padding-bottom: 50px
}

#proyectos-recientes{
	margin-top: 70px;
    margin-bottom: 70px;
}


#curriculum{
	   display: flex;
	   flex-direction: row;
}


#despro{
	   display: flex;
	   flex-direction: row;
}

#logo{
height: 50px;
	-webkit-transform: scale(1);
	transform: scale(1);
	margin-left: 8%;

}

#profech{
	font-family:'Libre Baskerville', serif;
    font-weight: 400i;
}
.profot{
	margin-bottom: 20px;

}
#logo:hover {

	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	
}









#banner{
	height: 750px;
    background: url("../image/tres.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: 50%;
}

.iconos{
	height: 2px;
	margin-left: 10px; 
}

#miphoto{
   width: 100%;
   	height: 600px;
       background: url("../image/cata.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

}

#bannercurriculum{
		width: 50%;
}

#bannercurriculum img{
	height: 34px;

}


#bannerpro{
		width: 50%;
}

#bannerpro img{
	height: 34px;

}



#concurri{
	width: 50%;
}

#proinf{
	width: 50%;
}

#currinfo {
	line-height: 2.1em;
	margin-right: 20px;
}

#protext {
	line-height: 2.1em;
	margin-right: 20px;
}

#currititulo {
	margin-top: 70px;
    margin-bottom: 70px;
}

#proe {
	margin-top: 70px;
    margin-bottom: 70px;
}

.texto-banner{
    background-color: #070114;
    width: 100%;
    height: 0px;
    align-self: flex-end;
    color:#EFEFEF;
    justify-content: flex-start;
    text-align: left;
    padding-left:20px;
    padding-right:20px;
    -webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}

.cover{
	width: 100%;
	height:100%;
	background-color: rgba(255,255,255,0);
	display: block;
	position: absolute;
}

.fecha{
   color:#EFEFEF;
    font-family:'Libre Baskerville', serif;
    font-size: 14px;
    font-weight: 400;

}

footer{
	margin-top: 100px;
	padding-top: 50px;
	border-style: solid;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 0px;
	background-color: #070114;
	color: #EFEFEF;
	text-align: center;


}

footer p{
	color: #efefef;
	font-size: 14px;
}

}
#nomfoot{
	align-items: center;
}

#catalinafoot{
	margin-bottom:  5px;
	margin-top: 0;
     font-size: 20px;
}

#diseño-graficofoot{
	margin: 0;
}

#logofoot{
	height:  60px;
	padding-right: 20px;
		-webkit-transform: scale(1);
	transform: scale(1);
	margin-left: 8%;

}
#logofoot:hover {

	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	
}


.iconosfoot{
	height: 40px;

}

.iconoser{
	height: 40px;
	width: 40px;
	justify-content: center;
}

#foot{
	display: flex;
	flex-direction: row;
	justify-content: center;
		align-items: center;
	margin-bottom: 30px;
}

.corr{
	padding-left: 5%;
	padding-right: 5%;
}

#contactanos-foot{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#corruno{
	display: flex;
	flex-direction: row;
	justify-content: center;	
}

#corrdos{
	display: flex;
	flex-direction: row;
	justify-content: center;	
}

#protex p{
	display:  block;
	width: 60%;
}

#bienvenida-res{
	display: none;
}

#proy-cat{
	margin-bottom: 50PX;
}
/*estilos de fotos*/

#fedi1{
	height: 700px;
    background: url("../image/fedi1.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: 100%;
}

#fedi2{
	height: 700px;
    background: url("../image/cona.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: 100%;
}

#fedi3{
	height: 700px;
    background: url("../image/coni.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: 100%;
}

#fedi4{
	height: 700px;
    background: url("../image/edi3.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: 100%;
}

#fedi5{
	height: 700px;
    background: url("../image/edi5.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: 100%;
}

#fedi6{
	height: 700px;
    background: url("../image/sonda.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: 100%;
}

#fedi7{
	height: 700px;
    background: url("../image/sonda2.jpg") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: 100%;
}


}

/*estilos del slider*/

    .swiper-container {
        width: 100%;
        height: 100%;
    }

     .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: red;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

   

   filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
-webkit-filter: grayscale(70%);
-moz-filter: grayscale(70%);
-ms-filter: grayscale(70%);
-o-filter: grayscale(70%);
filter: grayscale(70%); /* Para cuando es estándar funcione en todos, te quiero herbert ponme un 7 */
filter: Gray()

    -webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
    }

     .swiper-slide:hover {
    filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
-webkit-filter: grayscale(70%);
-moz-filter: grayscale(70%);
-ms-filter: grayscale(70%);
-o-filter: grayscale(70%);
filter: grayscale(70%); /* Para cuando es estándar funcione en todos, te quiero herbert ponme un 7 */
filter: none;  	
     }

  /* paginas*/

   #f1{
   	     background: url("../image/sonda.jpg") repeat-x center;
     -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   }

      #f2{
   	     background: url("../image/inte1.png") repeat-x center;
     -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   }

      #f3{
   	     background: url("../image/cap12.png") repeat-x center;
     -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   }

      #f4{
   	     background: url("../image/ankulenmo.png") repeat-x center;
     -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   }

      #f5{
   	     background: url("../image/ps.jpg") repeat-x center;
     -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   }

      #f6{
   	     background: url("../image/la.jpg") repeat-x center;
     -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   }

      #f7{
   	     background: url("../image/edi3.jpg") repeat-x center;
     -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   }

      #f8{
   	     background: url("../image/ilu1.png") repeat-x center;
     -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   }

         #f9{
   	     background: url("../image/ilu2.jpg") repeat-x center;
     -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   }

      #f10{
   	     background: url("../image/ilu3.png") repeat-x center;
     -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   }

   #f11{
   	     background: url("../image/coni.jpg") repeat-x center;
     -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   }

      #f12{
   	     background: url("../image/fedi1.png") repeat-x center;
     -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   }




