@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Nunito:400,400i,700,700i');

body{
	background-color: #EFEFEF;
	margin-right: 8%;
	margin-left: 8%;	
}

h1{
	color: #070114;
	font-family:'Libre Baskerville', serif;
	font-size: 50px;
	margin-bottom: 0px;
	margin-top: 0px;
	    font-weight: 400;	
}

h2{
	color: #070114;
	font-family:'Libre Baskerville', serif;
    font-size: 33px;
	margin-bottom: 0px;
	margin-top: 0px;
	    font-weight: 400;
}

h4{
	font-family:'Libre Baskerville', serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 15px;
}
p{
	color: #070114;
	font-family:'Nunito', sans-serif;
	font-size: 18px;
     line-height: 1.5em;
         margin-top: 0px;
}

#bienvenida {
	margin-top: 80px;
	width: 100%;
	padding-bottom: 50px;
    margin-right: 20px;
}

#bienvenidita{
	width: 50%
}
a{
	color: #070114;
	font-family:'Libre Baskerville', serif;
	text-decoration: none;
	font-size: 16px;

}

li {
	text-decoration: none;
	list-style: none;
}

header{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#menu-proyectos a{
	margin-left: 50px;
}

#menu {
	display: none;
	flex-direction: column;
    position:absolute;
    top: 10px;
    right: 5%; 
    justify-content:flex-end;
}

#menu img{
	height: 50px;
	width: 50px;
	align-self: flex-end;
}

#menu-res{
	display: flex;
	flex-direction: column;
	text-align: right;
	padding: 20px

}

#menu-res a{
	    padding-bottom: 10px;
        padding-top: 10px;
}
#nombre{
	margin-top: 70px;
}

#sobre-mi{
	display: flex;
	flex-direction: row;
    padding-bottom: 40px;
	border-style: solid;
	border-right: 0px;
	border-left: 0px;
	border-top: 0px;
}

#menu-basico{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

#tambienuno{
	display: flex;
	flex-direction: row;
	margin-right: 20px;
}

#tambienuno img{
	height: 34px;
	margin-left: 20px;
}
#menu-atajo li{
	margin-bottom: 10px;
}

#p-total{
	height: 400px;
    width: 100%;
    border-style: solid;
	border-right: 0px;
	border-left: 0px;
	border-top: 0px;
	padding-bottom: 50px
}

#proyectos-recientes{
	margin-top: 70px;
    margin-bottom: 70px;
}


#curriculum{
	   display: flex;
	   flex-direction: row;
}

#logo{
	height: 50px;

}

#banner{
	height: 750px;
    background: url("../image/tres.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: 50%;
}

.iconos{
	height: 2px;
	margin-left: 10px;
}

#miphoto{
   width: 100%;
   	height: 600px;
       background: url("../image/cata.png") repeat-x center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

}

#bannercurriculum{
		width: 50%;
}

#bannercurriculum img{
	height: 34px;


}

#contactanos-dos {
	display: none;
}

#contactanos-dos img{
	height: 34px;	
} 

#concurri{
	width: 50%;
}

#currinfo {
	line-height: 2.1em;
	margin-right: 20px;
}

#currititulo {
	margin-top: 70px;
    margin-bottom: 70px;
}

.texto-banner{
    background-color: #070114;
    width: 100%;
    height: 0px;
    align-self: flex-end;
    color:#EFEFEF;
    justify-content: flex-start;
    text-align: left;
    padding-left:20px;
    padding-right:20px;
    -webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}

.cover{
	width: 100%;
	height:100%;
	background-color: rgba(255,255,255,0);
	display: block;
	position: absolute;
}

.fecha{
   color:#EFEFEF;
    font-family:'Libre Baskerville', serif;
    font-size: 14px;
    font-weight: 400;

}
/*estilos del slider*/

    .swiper-container {
        width: 100%;
        height: 100%;
    }

     .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: red;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        background: url("../image/tres.png") repeat-x center;
     -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

   filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
-webkit-filter: grayscale(70%);
-moz-filter: grayscale(70%);
-ms-filter: grayscale(70%);
-o-filter: grayscale(70%);
filter: grayscale(70%); /* Para cuando es estándar funcione en todos, te quiero herbert ponme un 7 */
filter: Gray()

    -webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
    }

     .swiper-slide:hover {
    filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
-webkit-filter: grayscale(70%);
-moz-filter: grayscale(70%);
-ms-filter: grayscale(70%);
-o-filter: grayscale(70%);
filter: grayscale(70%); /* Para cuando es estándar funcione en todos, te quiero herbert ponme un 7 */
filter: none;  	
     }