@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Nunito:400,400i,700,700i');

body{
	background-color: #FF0000;
	margin-right: 8%;
	margin-left: 8%;	
}

h1{
	color: #070114;
	font-family:'Libre Baskerville', serif;
	font-size: 38pt;
	margin-bottom: 0px;
	margin-top: 0px;	
}

h2{
	color: #070114;
	font-family:'Libre Baskerville', serif;
    font-size: 25pt;
	margin-bottom: 0px;
	margin-top: 0px;
}

p{
	color: #070114;
	font-family:'Nunito', sans-serif;
	font-size: 14pt;
}

#bienvenida {
	margin-top: 80px;
	width: 50%;
}

a{
	color: #070114;
	font-family:'Libre Baskerville', serif;
	text-decoration: none;
	font-size: 16px;

}

header{
	background-color: #419917;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#menu-proyectos{
	background-color: #00E5E5;

}

#menu-proyectos a{
	margin-left: 50px;
}

#nombre{
	background-color: #EF00EF;
	margin-top: 70px;
}

#sobre-mi{
	background-color: #2A19A5;
	display: flex;
	flex-direction: row;
}

#menu-basico{
	background-color: #98A519;
}

#proyectos-total{
	background-color: #3FA519;
}

#curriculum{
	background-color: #A54419;
}

#logo{
	height: 50px;

}

#banner{
	height: 800px;
    background: url("image/tres.png") repeat-x left top;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
      width: 50%;
}

#insta{
	height: 34px;
}

#ead{
	height: 34px;
}

#miphoto{
	height: 519px;
}

